<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- Użycie %highlight do kolorowania logów -->
            <PatternLayout pattern="%highlight{[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%level] %logger{36} - %msg%n}" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="TRACE"> <!-- Ustawienie poziomu logowania na TRACE -->
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
